
/* CSS fait par Océane */
.banniere {
    padding: 90px;
    margin-top: 10px;
    margin-inline: 15%;
    background-image:  url(../images/article1.jpg);
    background-position:top ;
    max-width: 100%;
    min-width:fit-content;
    height: auto;
    margin-bottom: 0.5em;
}

.banniere h1{
    font-family: "Abril Fatface", cursive;
    font-weight: bolder;
    color: white;
    text-align: center;
}

.PhotoCV {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px ;
    margin-bottom: 10px;
    padding-left: 15%;
    margin-right: 21%;
<<<<<<< HEAD:css/cv.css
=======
    
  
>>>>>>> edccf2ae5722f7288994d9ff6aa86cea5bf29fc6:cv.css
}

.PhotoCV h2{
    
    color: #D05270;
    font-family: 'Abril Fatface', cursive;
    font-size: 5rem;
    float: right ;
    margin: 1%;
    text-align: justify; 
}

p.description {
    text-align: justify;
}
