@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,800;1,100;1,200;1,300;1,400;1,600;1,700&display=swap');

html, body {
    margin: 0;
    padding: 0;
}

/* Partie pour le header */
header {
    margin: 0px auto 0px auto;
    width: 60%;
    font-family: 'Montserrat';
    display:flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    margin-left: -45px;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
header nav ul li a {
    font-size: 1rem;
    color: #000;
    background-color: #FFF;
    text-decoration: none;
    margin: 0;
    padding: 10px 20px 10px 20px;
}
header nav ul li a:visited {
    color: #000;
}
header nav ul li a.pageActu {
    color: #5a47ab;
    font-weight: bold;
}
header nav ul li a:hover {
    border-bottom: 2px solid #000;
}

/* partie pour l'affichage des articles dans index.html */
.article-preview {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    font-family: 'Montserrat', sans-serif;
    width: 60%;
    margin: 0px auto 0px auto;
}

.article-preview img {
    width: 100%;
}

.post-date {
    color: #424242;
    font-weight: bold;
}

.article-title {
    color: #d35e7c;
    font-weight: bold;
}

.article-description {
    color: #424242;
    font-size: larger;
}

.view-more {
    color: #d35e7c;
    font-size: 20px;
    font-weight: 600;
    background-image: linear-gradient(to right, #d35e7c 75%, transparent 50%);
    background-position: 0 110%;
    background-size: 100% 2px;
    background-repeat: no-repeat;
}

.article a {
    text-decoration: none;
}

footer {
    padding-top: 50px;
}

/* animation article */

.article-preview-index-1 {
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


.article-preview-index-2 {
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }



.article-preview-index-3 {
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation-delay: 600ms;
}

@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


.article-preview-index-4 {
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation-delay: 600ms;
}

@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }



.article-preview-index-5 {
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }



.article-preview-index-6 {
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }