@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,800;1,100;1,200;1,300;1,400;1,600;1,700&display=swap');

html, body, main {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

section {
  padding: 0;
  margin: 0 auto 50px auto;
}

h1 {
  color:#D05270 ;
  font-family: "Abril Fatface", cursive;
  font-size: 3rem;
  font-weight:400;
  margin: 0;
  padding: 0;
}

h2 {
  color: #333333;
  font-weight: 400;
  font-size: 3rem;
  margin:0;
  padding-bottom: 20px;
}

/* Css gérée par Océane(Lunarora) */
h4 {
  color: #D05270;
  font-family: 'Abril Fatface', cursive;
  font-size: 2.6rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.1cm;
  margin-bottom: 1.1cm;
}

h5 {
    color: #3A0CA3;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.1cm;
    margin-bottom: 1.1cm;
}

h6 {
    color: #3A0CA3;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    margin-top: 1.1cm;
    margin-bottom: 1.1cm;
}

h3 {
  color:#D05270;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
/* Partie pour le header */
header {
    margin: 0px auto 0px auto;
    width: 70%;
    font-family: 'Montserrat';
    display:flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    margin-left: -45px;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
header nav ul li a {
    font-size: 1rem;
    color: #000;
    background-color: #FFF;
    text-decoration: none;
    margin: 0;
    padding: 10px 20px 10px 20px;
}
header nav ul li a:visited {
    color: #000;
}
header nav ul li a.pageActu {
    color: #5a47ab;
    font-weight: bold;
}
header nav ul li a:hover {
    border-bottom: 2px solid #000;
}

/* Pour la partir introduction */
.principale {
  display: flex;
  margin-right: 20%;
  gap: 10px;
  align-items: flex-start;
  margin-bottom: 100px;
}

.illustration img{
height: 350px;
  

}

.intro{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
    margin-left: 20%;
    margin-top: 3%;
    padding-right: 10%;
}

.bouttons{
    display: flex;
    gap:10px
}
.bouttons button{
    cursor: pointer;
    border: none;
}
.bouttons a {
    text-decoration: none;
}

p.trois{
    margin: 0;
    padding: 0px 0px 20px 0px
}

img.boutons_logo{
  height:20px
}

/* partie pour l'affichage des articles dans index.html */
.article-preview {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    font-family: 'Montserrat', sans-serif;
    width: 70%;
    margin: 0px auto 0px auto;
}

.article-preview img {
    width: 100%;
}

.post-date {
    color: #424242;
    font-size: 0.8rem;
    font-weight: 600;
}

.article-description {
    color: #424242;
    font-size: 0.8rem;
}

.view-more {
    color: #D05270;
    font-size: 0.8rem;
    font-weight: normal;
    background-image: linear-gradient(to right, #d35e7c 75%, transparent 50%);
    background-position: 0 110%;
    background-size: 100% 2px;
    background-repeat: no-repeat;
}

.article a {
    text-decoration: none;
}

footer {
    padding-top: 50px;
}

/* animation article */

.article-preview-index-1 {
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


.article-preview-index-2 {
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }



.article-preview-index-3 {
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation-delay: 600ms;
}

@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


.article-preview-index-4 {
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation-delay: 600ms;
}

@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }



.article-preview-index-5 {
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }



.article-preview-index-6 {
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

/* partie pour a propos */
.a_propos {
  margin: 0px 20% 0px auto;
  padding: 0px;
  display: flex;
  gap: 10px;
  align-items: center;
}

p.apropos {
  font-size: 1rem;
  color: #000;
  margin: 0px auto 10px auto;
}

.introduct{
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 10px;
  margin-left: 20%;
  margin-top: 3%;
  padding-right: 10%;
}

.a_propos img {
  float:left;
  height:80px;
  margin-right: 5px;
}
.introduct span.signature {
  display: block;
  font-size: 1em;
  font-style: italic;
  text-align: end;
  margin: 0px 20px 10px 0px;
}

.bouttons{
  display: flex;
  gap:10px
}
.bouttons button{
border: none;
}

img.boutons_logo{
  height:20px
}

button.twitter{
  background-color: #03A9F4;
  border: none;
  color: white;
  width: 130px;
  height: 40px;
  font-size: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;



}

button span{
  padding-left: 15px;
}

button.linkedin{
  background-color: #007AB9;
  border: none;
  color: white;
  width: 130px;
  height: 40px;
  font-size: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.medium{
  background-color: #000000;
  border: none;
  color: white;
  width: 130px;
  height: 40px;
  font-size: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.illustration img{
  height: 350px;
}