body {
    font-family: "Montserrat", cursive;
    margin: 0;
}
.banniere {
    margin-top: 1cm;
    padding: 65px;
    background-image:  url(images/luca-bravo-XJXWbfSo2f0-unsplash.jpg)  
    ; background-size: cover ;
    margin: 15%;
    padding: auto;
}
h1 {
    font-family: "Montserrat", cursive;
    font-weight: bolder;
    height: auto;
    color: white;
    text-align: center;
}