body {
    font-family: "Montserrat", cursive;
    margin: 0;
}
.banniere {
    margin-top: 1.1cm;
    margin-inline: 4cm;
    padding: 65px;
    background-image:  url(images/luca-bravo-XJXWbfSo2f0-unsplash.jpg)  
    ; background-size: cover ;
    margin-bottom: 0.5em;
}
h1 {
    font-family: "Montserrat", cursive;
    font-weight: bolder;
    height: auto;
    color: white;
    text-align: center;
}
img {border-radius: 50%;
    margin-left: 9em;
    margin-top: 1cm;}