footer div.placement {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

footer div.placement ul {
    list-style: none;
}

footer div.placement ul.reseaux li.bouttons button {
    cursor: pointer;
    border: none;
    height: 20px;
    width: 50px;
    background-color: #D05270;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    margin: 5px;
    color: whitesmoke;
}

footer div.placement ul.reseaux li.bouttons a {
    text-decoration: none;

}

footer {
    border-radius: 10px 10px 0px 0px;
    background-color: #D05270;
}

footer div.placement ul.mentionlegal li a {
    color: whitesmoke;
    display: block;
    margin: 0px 0px 10px 0px;
}

footer div.placement ul.recrut li a {
    color: whitesmoke;
    display: block;
    margin: 0px 0px 10px 0px; 
}
