*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.principale{
    display: flex;
    margin-right: 20%;
    gap: 10px;
    align-items: flex-start;
}

.illustration img{
  height: 350px;
}

.intro{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
    margin-left: 20%;
    margin-top: 3%;
    padding-right: 10%;


}

.une{
    color:#D05270 ;
    font-family:'Abril Fatface', cursive;
    font-weight:400 ;
}

h2{
    font-weight: 600;
    font-size: 2rem;
    padding-bottom: 20px;
}
.bouttons{
    display: flex;
    gap:10px
}
.bouttons button{
 border: none;
}

.trois{
    padding-bottom: 20px;
}

img.boutons_logo{
    height:20px
}

button.twitter{
    background-color: #03A9F4;
    border: none;
    color: white;
    width: 130px;
    height: 40px;
    font-size: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;



}

button span{
    padding-left: 15px;
}

button.linkedin{
    background-color: #007AB9;
    border: none;
    color: white;
    width: 130px;
    height: 40px;
    font-size: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

button.medium{
    background-color: #000000;
    border: none;
    color: white;
    width: 130px;
    height: 40px;
    font-size: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}